# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# pnpm
.pnpm-debug.log*

# Turborepo
.turbo

# testing
coverage

# next.js
.next/
out/

# production
build
dist

# misc
.DS_Store
*.pem
*.p8

# Apple keys & secrets
keys/

# Design artifacts
screenshots/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify
